:root {
    --deep-blue: #221E53;
    --purple-dark: #2F1F55;
    --magenta: #802A8C;
    --white: #ffffff;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white); 
    margin: 0;
    padding: 0;
}

.header {
   
    background: linear-gradient(to bottom, var(--deep-blue), var(--purple-dark), var(--magenta));
    padding: 3.5rem 1rem;
    text-align: center;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.container {
    width: 90%;
    max-width: 450px;
    margin: -20px auto 2rem; 
}

.btn {
    display: block;
    padding: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
    color: #333;
    background: white;
    border-radius: 12px;
    font-weight: 700;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    cursor: pointer;
    border: none;
    width: 100%;
}

/* Contenedor de los botones de días */
.days-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    margin-bottom: 1.5rem;
}

.days-grid.active {
    max-height: 300px; 
}

.day-btn {
    aspect-ratio: 1 / 1; 
    background-color: var(--purple-dark);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.3s ease;
}


.day-btn:hover {
    background-color: var(--magenta);
}


.day-btn span::after {
    content: attr(data-text);
}

.day-btn:hover span::after {
    content: "IR";
}

.day-btn span {
    display: none; 
}


.day-label {
    display: block;
}

.day-btn:hover .day-label {
    display: none;
}

.day-btn .hover-text {
    display: none;
}

.day-btn:hover .hover-text {
    display: block;
}

footer {
    margin-top: auto;
    padding: 1.5rem;
    text-align: center;
    font-size: 0.8rem;
}
